* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
}

.btn-rows {
  display: grid;
  grid-template: repeat(6, auto) / repeat(4, 1fr);
  gap: 1px;
  width: 50%;
  margin-top: 90px;
}

#result {
  grid-column: 1 / span 4;
  background-color: grey;
  text-align: end;
  color: white;
}

.zero {
  grid-column: 1 / span 2;
}

.grid-item {
  padding: 15px;
  background-color: gainsboro;
  border: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
}

.orange {
  background-color: orange;
}
