* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
}

.btn-rows {
  display: grid;
  grid-template: repeat(6, auto) / repeat(4, 1fr);
  gap: 1px;
  width: 50%;
  margin-top: 20px;
}

#result {
  grid-column: 1 / span 4;
  background-color: grey;
  text-align: end;
  color: white;
}

.zero {
  grid-column: 1 / span 2;
}

.grid-item {
  padding: 15px;
  background-color: gainsboro;
  border: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
}

.orange {
  background-color: orange;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
  background-color: #6610f2;
  color: white;
}

.links {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.links:hover {
  color: greenyellow;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.home-header {
  margin: 25px 0;
}

.home p {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 30px;
}

.quote {
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px black;
  padding: 20px;
}

.calculator-text {
  font-size: 30px;
  margin: 30px;
}
